<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="groups.list">Groups</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="groups.details({id: model.Group.GroupId})">{{model.Group.GroupName}}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Contributions</span>
        </li>
    </ul>

    <ul class="page-breadcrumb pull-right">
        <li>
            System Administrator
        </li>
    </ul>
</div>

<div>
    <div class="col-xs-6">
        <h1 class="page-title">
            <i class="fa fa-pencil font-purple-studio"></i> Contributions
        </h1>
    </div>
    <div class="col-xs-6">
        <div class="page-actions">
            <button class="btn purple pull-right"
                    ng-click="model.addContributionsGroup()">
                <i class="fa fa-plus"></i> Add User Contribution to Group
            </button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <table class="table" ng-show="model.Contributions.length">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="overflow" ng-repeat="contribution in model.Contributions">
                        <td>{{$index + 1}}</td>
                        <td>{{contribution.User.FirstName || "N/A"}}</td>
                        <td>{{contribution.User.LastName || "N/A"}}</td>
                        <td>{{contribution.User.Email || "N/A"}}</td>
                        <td>{{contribution.MonthName || "N/A"}}</td>
                        <td>{{contribution.YearName || "N/A"}}</td>
                        <td class="text-right">
                            <a ui-sref="groups.user.details({ gid: model.Group.GroupId, id: user.UserId })" class="btn btn-default btn-xs"><i class="fa fa-search"></i>View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="empty" ng-hide="model.Contributions.length">
                There are no Users Available in this group yet
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="usercontributiongroup.html">
    <div class="modal-header">
        <h3 class="modal-title">Add User Contribution to Group</h3>
    </div>
    <div class="modal-body">
        <form name="form" role="form" class="form-horizontal" ng-submit="model.Ok(form,model.Contribution)">
            <div class="form-body">

                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label" for="form_user">User</label>
                    <div class="col-md-7">
                        <select class="form-control" id="form_user" ng-init="model.User = model.Users[0]" ng-model="model.Contribution.Users[0]" ng-options="user.FirstName + ' ' + user.LastName for user in model.Users" required></select>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>
                <div class="form-group form-md-line-input">
                    <label class="col-md-3 control-label" for="form_month">Month</label>
                    <div class="col-md-7">
                        <select class="form-control" id="form_month" ng-init="model.Month = model.Months[0]" ng-model="model.Contribution.Month" ng-options="month.MonthName for month in model.Months" required></select>
                        <div class="form-control-focus"> </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn default" ng-click="model.Cancel()">Cancel</button>
                    <button class="btn blue">OK</button>
                </div>
            </div>
        </form>
    </div>
</script>
