<form ng-submit="model.ChangePassword()">
    <div class="form-body">

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon right">
                        <input type="password" class="form-control" id="form_password" ng-model="model.Password" required />
                        <label for="form_password">Current Password</label>
                        <span class="help-block">Enter Current Password</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon right">
                        <input type="password" class="form-control" id="form_newpassword" ng-model="model.NewPassword" Password />
                        <label for="form_newpassword">New Password</label>
                        <span class="help-block">Enter New Password (At least 8 characters)</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon right">
                        <input type="password" class="form-control" id="form_confirmpassword" ng-model="model.ConfirmPassword" Password />
                        <label for="form_confirmpassword">Re-type New Password</label>
                        <span class="help-block">Re-type New Password</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-default" type="reset">Cancel</button>
            </div>
            <div class="col-xs-6" style="text-align:right">
                <button class="btn green-meadow" type="submit">Change Password</button>
            </div>
        </div>
    </div>
</form>