
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>ExcellentMen</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for " name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/Content/Theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/Content/Theme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Theme/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/Content/Theme/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/Content/Theme/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/Content/Theme/assets/pages/css/login-5.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <!-- Application Styles -->
    <link href="~/Scripts/libs/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />


    <style>
        @@media (max-width:1023px) {
            .user-login-5, .user-login-5 .login-bg, .user-login-5 .login-container {
                min-height: 40vh;
            }
        }
    </style>

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<body class=" login" ng-app="Stev">
    <!-- BEGIN : LOGIN PAGE 5-1 -->
    <div class="user-login-5">
        <div class="row bs-reset">
            <div data-loader style="color:white"><i class="fa fa-gear fa-spin fa-5x" style="opacity:0.7"></i>Working</div>

            <div class="col-md-6 bs-reset mt-login-5-bsfix">
    <div class="login-bg" style="background-image:url('/Content/Theme/assets/pages/img/login/bg1.jpg')">
        @*<img alt="logo" class="login-logo" src="/Content/Theme/assets/pages/img/login/logo.png" />*@
                </div>
            </div>

            <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
                <div class="login-content view-frame" ui-view></div>
                <div class="login-footer">
                    <div class="row bs-reset">
                        <div class="col-xs-5 bs-reset">
                            <ul class="login-social">
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-7 bs-reset">
                            <div class="login-copyright text-right">
                                <p>Copyright &copy; stephenajose 2017</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END : LOGIN PAGE 5-1 -->
    <!--[if lt IE 9]>
    <script src="/Content/Theme/assets/global/plugins/respond.min.js"></script>
    <script src="/Content/Theme/assets/global/plugins/excanvas.min.js"></script>
    <script src="/Content/Theme/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="/Content/Theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/Content/Theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/Content/Theme/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/Content/Theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/Content/Theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/Content/Theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/Content/Theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Content/Theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="/Content/Theme/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/Content/Theme/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="/Content/Theme/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/Content/Theme/assets/pages/scripts/login-5.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- Application Libraries -->
    <script src="~/Scripts/libs/toastr/toastr.min.js"></script>
    <script src="~/Scripts/libs/angular/angular.min.js"></script>
    <script src="~/Scripts/libs/angular-animate/angular-animate.min.js"></script>
    <script src="~/Scripts/libs/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- Module -->
    <script src="~/Scripts/app/Account/app.js"></script>
    <script src="~/Scripts/app/infrastructure/modules.js"></script>

    <!-- Utils -->
    <script src="~/Scripts/app/infrastructure/utils/constants.js"></script>
    <script src="~/Scripts/app/infrastructure/utils/Interceptors.js"></script>

    <!-- Services -->
    <script src="~/Scripts/app/infrastructure/services/storage.js"></script>
    <script src="~/Scripts/app/infrastructure/services/notify.js"></script>
    <script src="~/Scripts/app/infrastructure/services/file.js"></script>
    <script src="~/Scripts/app/infrastructure/services/http.js"></script>
    <script src="~/Scripts/app/infrastructure/services/domain.js"></script>

    <!-- Controllers -->
    <script src="~/Scripts/app/Account/controllers.js"></script>

</body>

</html>