<style>
    .form-group.form-md-line-input > .input-icon > i.highlight, i.highlight {
        color: #ffc151;
    }
</style>


<h1>Sign up</h1>
<div class="row">
    <div class="col-xs-6">
        
    </div>
    <div class="col-xs-6 text-right">
        <strong><i class="fa fa-star highlight"></i> Required Fields</strong>
    </div>
</div>

<form role="form" ng-submit="model.SignUp()" method="post">
    <div class="form-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon right">
                        <input type="text" class="form-control" id="form_firstname" ng-model="model.User.FirstName" required />
                        <label for="form_firstname">First Name</label>
                        <span class="help-block">Enter FirstName</span>
                        <i class="fa fa-star highlight"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon right">
                        <input type="text" class="form-control" id="form_lastname" ng-model="model.User.LastName" required />
                        <label for="form_lastname">Last Name</label>
                        <span class="help-block">Enter LastName</span>
                        <i class="fa fa-star highlight"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <input type="text" class="form-control" id="form_phonenumber" ng-model="model.User.PhoneNumber" />
                    <label for="form_phonenumber">Phone Number</label>
                </div>
            </div>
            <div class="col-sm-6">
          +      <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon right">
                        <input type="email" class="form-control" id="form_email" 
                               ng-model="model.User.Email" required pattern="^\w+[\w-\.]*\@("@")\w+((-\w+)|(\w*))(\.[a-z]{2,3})+$" />
                        <label for="form_email">Email</label>
                        <span class="help-block">Enter Email</span>
                        <i class="fa fa-star highlight"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon right">
                        <input type="password" class="form-control" id="form_password" ng-model="model.User.Password" Password />
                        <label for="form_password">Password</label>
                        <span class="help-block">Enter Password (At least 8 characters)</span>
                        <i class="fa fa-star highlight"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <div class="input-icon right">
                        <input type="password" class="form-control" id="form_confirmpassword" ng-model="model.ConfirmPassword" Password />
                        <label for="form_confirmpassword">Confirm Password</label>
                        <span class="help-block">Confirm Password</span>
                        <i class="fa fa-star highlight"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <a href="#/signin" class="btn btn-default">Back</a>
            </div>
            <div class="col-xs-8" style="text-align:right">
                <button class="btn green-meadow" type="submit">Sign Up</button>
            </div>
        </div>
    </div>
</form>
